<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#80b145" type="ball-clip-rotate-multiple"></ngx-spinner> -->

<main style="height: 100vh; width:100hw;" class="flex-horizontal">
  <!-- <div class="fe"></div> -->
  <div id='login-form' class="flex-vertical flex-1" style="justify-content: center;">
     Login Page
    <form class="flex-vertical" style="justify-content: center;">

      <div class="padded">
        <input type="email" style="width:250px;" placeholder="Enter Email ID" name="email" required [(ngModel)]="user.email">
      </div>
      <div class="padded">
        <input type="password" style="width:250px;" placeholder="Enter Password" name="password" required [(ngModel)]="user.password">
      </div>
      <div>
        <button type="submit" style="border-radius:100px; background-color: yellowgreen; padding:10px; width:100px; margin-left:90px; " (click)="submit()">Login</button>
      </div>
    </form>
  </div>
</main>