/* You can add global styles to this file, and also import other style files */


.pointer {
    cursor: pointer;
  }
  
* {
    margin: 0;
    padding: 0;
  }
  
button:focus, input:focus {
    outline: none;
  }

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }

.flex-horizontal {
    display: flex;
  }
  
.flex-vertical {
    display: flex;
    flex-direction: column;
  }
  
.flex-1 {
    flex: 1;
  }

.padded {
    padding:20px;
}

.seperated {
  margin:5px;
}